.section {
  padding: 186px 75px;
  background: rgb(62, 61, 172);
  background: linear-gradient(
    143deg,
    rgba(62, 61, 172, 1) 0%,
    rgba(26, 74, 50, 1) 47%,
    rgba(18, 55, 22, 1) 100%
  );
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
  font-family: "Inter";
}

.logo {
  text-align: center;
  margin-bottom: 38px;
}

.title {
  font-weight: 400;
  font-size: 26px;
  line-height: 31px;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 104px;
}

.box {
  display: flex;
  flex-direction: column;
  padding: 27px 32px 42px 33px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.48);
  border-radius: 30px;
  margin-bottom: 218px;
}

.box__name {
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  color: #ffffff;
  margin-bottom: 10px;
}

.box__description {
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 51px;
}

.box-form {
  padding: 17px 26px 17px 25px;
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.48);
  border-radius: 15px;
}
.form-items {
  display: flex;
  align-items: center;
}
.form__item {
  border: none;
  outline: none;
  background: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  width: 707px;
}
.submit {
  border: none;
  background: none;
}

.submit:hover {
  cursor: pointer;
}

.container_bot {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}

.button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 13px 25px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.48);
  border-radius: 30px;
}

.button__name {
  font-family: "Inter";
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  color: #ffffff;
}
.button:hover {
  cursor: pointer;
}
